# Turso Database
TURSO_DB_URL=your-turso-url
TURSO_DB_TOKEN=your-turso-token

# BetterAuth
BETTER_AUTH_SECRET=your-secret-key-generate-random-32-chars

# Google OAuth (Google Cloud Console)
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

# GitHub OAuth (GitHub Developer Settings)
GITHUB_CLIENT_ID=your-github-client-id
GITHUB_CLIENT_SECRET=your-github-client-secret

#IDrive-E2 Keys
IDRIVEE2_REGION_CODE=your-region-code
IDRIVEE2_ENDPOINT=your-idrivee2-endpoint
IDRIVEE2_ACCESS_KEY_ID=your-idrivee2-access-key-id
IDRIVEE2_SECRET_ACCESS_KEY=your-idrivee2-secret-access-key
IDRIVEE2_POSTED_PICTURES_BUCKET_ENDPOINT=your-bucket-endpoint
IDRIVEE2_PROFILE_PICTURES_BUCKET_ENDPOINT=your-bucket-endpoint